body {
  background-color: #696969;
}

button {
  font-family: 'Catamaran', sans-serif;
  text-transform: lowercase;
}
              

              /*FOOTER */
#footerQueue {
text-align: center;
}              
							/*NAVBAR*/

.navbar {
  background-color: #545454;
  border: 0;
  border-radius: 8px;
}

.nav-title {
  margin-top: 10px;
  font-family: 'Catamaran', sans-serif;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: #968a9d;
  font-weight: bold;
  font-style: italic;
}

ul label {
	font-family: 'Catamaran', sans-serif;
	text-transform: lowercase;
	color: #968a9d;
	font-style: italic;
	margin-right: 15px;
	margin-bottom: -30px;
}

							/*TEXT INPUT & PLACEHOLDERS*/

textarea:focus, input:focus {
    color: #9a9a9a;
    letter-spacing: 0.2px;
}

::-webkit-input-placeholder {
  color: #9a9a9a;
  letter-spacing: 0.2px;
  font-style: italic;
}

:-moz-placeholder {
 /* Firefox 18- */
  color: #9a9a9a;
  letter-spacing: 0.2px;
  font-style: italic;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9a9a9a;
  letter-spacing: 0.2px;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #9a9a9a;
  letter-spacing: 0.2px;
  font-style: italic;
}

							/*SIGN IN BUTTONS*/

#signinButton,
#registerButton {
  margin: 5px 10px 5px 0;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10%;
  background-color: #786981;
  border: 1px solid;
  border-color: #9a9a9a;
  color: #FAFAFA;
}

#signinButton:hover,
#registerButton:hover {
	background-color: #695973;
	border-color: #9a9a9a;
}

#signinButton:focus,
#registerButton:focus {
	background-color: #695973;
	border-color: #9a9a9a;
	outline: 0 none;
}

							/*SEARCH QUERY INPUT*/

.searchInput {
  width: 150px !important;
  padding: 5px 15px !important;
  margin: 5px;
  background: rgba(50, 50, 50, 0.2) !important;
  border: 1px solid #637359 !important;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  outline: 0 none;
}

.searchInput:focus {
  background-color: #493e50 !important;
}

							/*SEARCH PANEL*/

.panel {
  border: 1px;
  border-radius: 8px;
  background-color: #545454 !important;
}

							/*SEARCH BUTTON*/

.searchBtn {
  padding: 5px 15px;
  border: 0;
  background-color: #786981;
  color: #FAFAFA;
  border: 1px solid;
  border-color: #9a9a9a;
}

.searchBtn:hover {
  background-color: #695973;
  outline: 0 none;
  border-color: #9a9a9a;
}

.searchBtn:active {
  background-color: #695973;
  outline: 0 none;
  border-color: #9a9a9a;
}

.searchBtn:focus {
  background-color: #695973;
  outline: 0 none;
  border-color: #9a9a9a;
}

							/*ADD VIDEO BUTTONS*/

.addVideoUrlBtn,
.startVideoUrlBtn {
  display: inline-block;
  width: 50%;
  background-color: #786981;
  margin: 5px;
  border: 0;
  color: #FAFAFA;
  border: 1px solid;
  border-color: #9a9a9a;
}

.addVideoSearchBtn:hover,
.addVideoUrlBtn:hover,
.startVideoUrlBtn:hover {
  background-color: #695973;
  border-color: #9a9a9a;
}

.addVideoUrlBtn:active,
.startVideoUrlBtn:active {
  background-color: #695973;
  border-color: #9a9a9a;
}

.addVideoUrlBtn:focus,
.startVideoUrlBtn:focus {
  background-color: #695973;
  border-color: #9a9a9a;
}

							/*URL INPUT*/

.urlQueueInput,
.urlInput {
  padding: 5px;
  width: 250px;
  background-color: olive !important;
  padding: 8px 15px !important;
  background: rgba(50, 50, 50, 0.2) !important;
  border: 1px solid #637359 !important;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Catamaran', sans-serif;
  outline: 0 none;
}

.urlQueueInput:focus,
.urlInput:focus {
  background-color: #493e50 !important;
}

							/*ALERTS*/

.alert {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #c3bcc7;
  border: none;
  border-radius: 2px;
  color: #54475c;
}

							/*MODALS*/


.modal-dialog {
	font-family: 'Catamaran', sans-serif;
	text-transform: lowercase;
	color: #968a9d;
}

.modal-header {
	background-color: #545454;
}

.modal-body {
  background-color: #696969;
}

form label {
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: -50px;
	padding-top: 2px;
}

.example {
	font-size: 13px;
}

.submit {
	padding-top: 2px;
}

#registerUsername,
#registerPassword,
#loginEmail,
#loginPassword {
	background: rgba(50, 50, 50, 0.2) !important;
	border: 1px solid #637359 !important;
	outline: 0 none;
}

#registerUsername:focus,
#registerPassword:focus,
#loginEmail:focus,
#loginPassword:focus {
	background-color: #493e50 !important;
}

#registerUsername:active,
#registerPassword:active,
#loginEmail:active,
#loginPassword:active {
  background-color: #493e50 !important;
}

							/*TOGGLE PANEL BUTTON*/

.hidePanelBtn {
  background-color: #545454 !important;
  color: #786981;
  font-size: 55px;
  margin-left: 210px;
  margin-top: 50px;
  border: 0;
}

.hidePanelBtn:hover {
  background-color: #545454 !important;
  color: #786981;
  font-size: 55px;
}

.showPanelBtn {
  background-color: #545454 !important;
  color: #786981;
  font-size: 55px;
  margin-top: 50px;
  margin-left: 20px;
}

.showPanelBtn:hover {
  background-color: #545454 !important;
  color: #786981;
  font-size: 55px;
}

.confirmVideoSkippedBtn {
  margin-left: 5px;
}

.addVideoSearchBtn{
  color: #FAFAFA;
  margin-left: 5px;
  background-color: #786981;
  border: 1px solid;
  border-color: #9a9a9a;
}

.searchPanel{
  height: 450px;
  overflow: auto;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

a{
  color: #786981;
}

a:hover{
  color: #695973;

}

.hidePanelBtn{
  position: absolute;
  left: 95px;
}

.showPanelBtn{
  position: absolute;
  left: 55px;
}
