body {
  background-color: black;
}

button {
  font-family: 'Catamaran', sans-serif;
  text-transform: lowercase;
}

.navbar {
  background-color: rgba(50, 50, 50, 0.3);
  border: 0;
}

.nav-title {
  margin-top: 10px;
  font-family: 'Catamaran', sans-serif;
  text-transform: lowercase;
  letter-spacing: 2px;
  color: #556B2F;
}

#signinButton,
#registerButton {
  margin: 5px 10px 5px 0;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10%;
  background-color: #556B2F;
  border: 0;
  color: #fafafa;
}

#signinButton:hover,
#registerButton:hover {
	background-color: #2a3517;
}

.searchInput {
  width: 150px !important;
  padding: 5px 15px !important;
  background: rgba(50, 50, 50, 0.2) !important;
  border: 1px solid #99a682 !important;
  font-family: 'Catamaran', sans-serif;
  text-transform: lowercase;
}

.searchInput:focus {
  background-color: #99a682 !important;
}

.panel {
  border: 1px;
}

.searchColumn {
  height: 315px;
}

.searchPanel {
  background-color: #0c0c0c !important;
  border: 0;
}

.searchBtn {
  padding: 5px 15px;
  left: -5px;
  border: 0;
  background-color: #556B2F;
  color: #fafafa;
}

.searchBtn:hover {
  background-color: #2a3517;
}

.addVideoUrlBtn,
.startVideoUrlBtn {
  display: inline-block;
  width: 50%;
  background-color: #556B2F;
  margin: 5px;
  border: 0;
}

.addVideoUrlBtn:hover,
.startVideoUrlBtn:hover {
  background-color: #2a3517;
}

.urlQueueInput,
.urlInput {
  padding: 5px;
  width: 250px;
  background-color: olive !important;
  padding: 8px 15px !important;
  background: rgba(50, 50, 50, 0.2) !important;
  border: 1px solid #99a682 !important;
  text-transform: lowercase;
  font-family: 'Catamaran', sans-serif;
}

.urlQueueInput:focus,
.urlInput:focus {
  background-color: #99a682 !important;
}

::-webkit-input-placeholder {
  color: #452f6b;
}

:-moz-placeholder {
 /* Firefox 18- */
  color: #452f6b;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #452f6b;
}

:-ms-input-placeholder {
  color: #452f6b;
}

.alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.largePlayer {
  width: 100%;
  height: 420px;
}

.hidePanelBtn {
  background-color: #0c0c0c !important;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fafafa;
  font-size: 55px;
  padding: 40px 0px 40px 0px;
  text-decoration: none;
  margin-top: 65px;
  margin-left: 230px;
  border: 0;
}

.hidePanelBtn:hover {
  background: #0c0c0c;
/*  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
}

.showPanelBtn {
  background-color: #0c0c0c !important;
/*  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 40px 0px 40px 0px;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 45px;
}

.showPanelBtn:hover {
  background: #0c0c0c;
/*  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
}

.confirmVideoSkippedBtn {
  margin-left: 5px;
}